// Tables
//==================================================
// Custom styles and modifiers for tables.

// NOTE: Apply to a <div> that directly wraps the table.
.wvu-table-responsive {
  display: block;
  overflow-x: auto;
  width: 100%;
} //.wvu-table-responsive

// <table class="wvu-table">
.wvu-table {
  max-width: 100%;
  width: 100%;
  caption {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: left;
  } //caption
  tbody {
    [scope="row"] {
      font-weight: normal;
    } //[scope="row"]
  } //tbody
  td,
  th {
    padding: .75rem;
  } //td, th
  th {
    border-bottom: 0;
  } //th
  td {
    display: table-cell;
  } //td
  tfoot {
    font-weight: bold;
    tr:first-child {
      td,
      th {
        border-top: 0;
      } //td, th
    } //tr:first-child
  } //tfoot
} //.wvu-table

// <table class="wvu-table wvu-table-striped">
.wvu-table-striped {
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: mix($wvu-dune, $white, 7%);
      } //&:nth-of-type(odd)
    } //tr
  } //tbody
} //.table-striped

// <table class="wvu-table wvu-table-hover">
.wvu-table-hover {
  tbody,
  tfoot {
    tr {
      transition: all 100ms ease-in-out;
      &:hover {
        background-color: mix($pms-115-c, $white, 7%);
      } //&:hover
    } //tr
  } //tbody, tfoot
} //.wvu-table-hover

.wvu-table-small {
  td,
  th {
    padding: .3rem;
  } //td, th
} //.wvu-table-small
